.header-wrapper {
  background-color: white;
  position: fixed;
  width: 100%;
  box-shadow: 0 5px 10px rgba(50, 50, 93, 0.1);
  z-index: 1;
}

.chats-body {
  padding: 0;
}

.chat-screen {
  background-image: url("../images/chat_bg.png");
  min-height: 1000vh;
  padding-top: 100px;
}

.chats-body .header,
.chats-body .status-bar {
  padding: 0px 20px;
  bottom: 0;
}

.chat__write-container {
  position: fixed;
  bottom: 0px;
  display: flex;
  left: 0;
  right: 0;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.chat__write {
  background-color: red;
  bottom: 0px;
  border-radius: 0px;
  padding: 10px 60px;
  border: none;
  font-size: 14px;
  width: 100%;
  transition: all 0.3s ease-in;
  margin: 0px auto;
}

.chat__write-left {
  position: absolute;
  left: 10px;
}

.chat__write-right {
  position: absolute;
  right: 10px;
}

/*inputがフォーカスになった場合アウトラインをなくす*/
.chat__write:focus {
  outline: none;
  width: 80%;
  transform: translateY(-50px);
  border-radius: 30px;
  box-shadow: 0 7px 10px rgba(50, 50, 93, 0.3);
  animation: float 3s linear infinite forwards;
}

.chat-icon {
  transition: opacity 0.3s ease-in-out;
}

.chat__write:focus ~ .chat-icon {
  opacity: 0;
}

.chat__write i {
  font-size: 22px;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}
.chat__write-column input {
  padding: 16px 10px;
  width: 100%;
  border: none;
  font-size: 14px;
}

.chat-screen .chat__messages {
  border-top: 1px solid #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  padding-top: 50px;
}

.chat-screen .chat__timestamp {
  background-color: white;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 12px;
  margin-bottom: 30px;
  box-shadow: 0 5px 10px rgba(50, 50, 93, 0.1);
  text-transform: uppercase;
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.incoming-message img {
  width: 30px;
  border-radius: 15px;
  margin-right: 20px;
}

.message .message__author {
  margin-top: 10px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}

.incoming-message {
  align-self: flex-start;
}

.sent-message {
  align-self: flex-end;
}

.message .message__bubble {
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0 5px 10px rgba(50, 50, 93, 0.1);
  border-radius: 20px;
  color: white;
}

.incoming-message .message__bubble {
  border-bottom-left-radius: 0px;
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
}

.sent-message .message__bubble {
  border-bottom-right-radius: 0px;
  background-image: linear-gradient(to right, #6a82fb, #fc5c7d);
}

.incoming-message {
  animation: incomingAnim 0.5s ease-out forwards;
}

.sent-message {
  animation: sentAnim 0.5s ease-out forwards;
}

@keyframes float {
  0% {
    box-shadow: 0 7px 10px rgba(50, 50, 93, 0.3);
  }
  50% {
    box-shadow: 0 15px 20px rgba(50, 50, 93, 0.3);
  }
  100% {
    box-shadow: 0 7px 10px rgba(50, 50, 93, 0.3);
  }
}

@keyframes incomingAnim {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes sentAnim {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
